h2 {
    font-size: xx-large;
    color: #1d447f;
}

.about {
    margin-bottom: 100px;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container {
    text-align: center;
    max-width: 1500px;
    width: 90vw;
}

.why h3 {
    margin-top: 50px;
}

.why-us {
    text-align: left;
}

.why-us h4 {
    color: #ecb722;
}

.person {
    color: #1d447f;
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto auto;
}

.person:nth-of-type(odd) {
    grid-template-columns: 1fr auto;
}

.person:nth-of-type(odd) img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 25px;
}

.person:nth-of-type(even) {
    grid-template-columns: auto 1fr;
}   

.person:nth-of-type(even) img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-left: 25px;
}

.person h4 {
    color: #03a3df;
    font-size: 2rem;
    height: fit-content;
    margin: 0px;
}